*, *::before, *::after {
  box-sizing: border-box;
}

html {
  background-color: black;
}

h1 {
  text-align: center;
  color: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  border-style: none;
  padding: 2rem;
  min-height: 8rem;
}

.card.category {
  color: white;
  font-size: 3rem;
}

.card.choice {
  color: goldenrod;
  font-size: 4rem;
  font-weight: bold;
  cursor: pointer;
  transition: margin 0.2s ease, filter 0.2s ease;
}

.card.choice:hover {
  filter: brightness(1.3);
  margin: -0.5rem;
}

.footer {
  color: white;
  display: flex;
  justify-content: center;
}
